# Eric Meyer's Module 4 Project - Bonus - 2/6/2023

### (1) Importing Libraries

In [5]:
import pandas as pd

import re

### (2) Creating 'Contacts' List

In [3]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
            ['Sue Bown', 'demo2@deitel.com', '5555551234']]

### (3) Creating DataFrame with 'Contacts' List

In [4]:
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])

contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1    Sue Bown  demo2@deitel.com  5555551234

### (4) Creating Function to Format Phone Numbers

In [16]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

### (5) Using Function to Format Phone Numbers in 'Contacts' List

In [18]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

### (6) Assigning Formatted Phone Numbers to 'Phone' Column in DataFrame

In [19]:
contactsdf['Phone'] = formatted_phone

contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1    Sue Bown  demo2@deitel.com  555-555-1234